{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Lists</h1>
        <p><a href="{% url 'create_todolist' %}">Create a new list</a></p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of items</th>
            </tr>
        </thead>
        <tbody>
            {% for list in todolist_list %}
            <tr>
                <td><a href="{% url 'show_todolist' list.pk %}">{{ list.name }}</a></td>

                <td> {{ list.items.all | length }} </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</main>
{% endblock content %}